<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" href="~/Content/themes/base/images/ui-icons_cd0a0a_256x240.png"/>
    <title>Back end</title>    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <h1 class="titulo">Prueba BackEnd de Omar Guzmán</h1>
    </header>    

    <section id="Content" class="contenido">
        @RenderBody()
    </section>    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
